{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
    {% get_providers as socialaccount_providers %}
    <div class="investo-forms" id="login">
        <div class="container">
            <div class="section-title">
                <h2 class="text-center">{% trans 'Account Login' %}</h2>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="form-area">
                        <form method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {% crispy form %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}

                        </form>
                        <div class="form-group container-login100-form-btn">

                            <a href="{% url 'account_signup' %}" class="btn btn-link">{% trans 'Sign Up' %}</a>
                            <a href="{% url 'account_reset_password' %}"
                               class="btn btn-link pull-right">{% trans 'Forgot your password?' %}</a>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}