{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'Sign Up' %}{% endblock %}
{% block content %}
        <div class="testimonial container" >
    <div class="investo-forms" id="login">
        <div class="conatiner">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="section-title">
                        <h2>{% trans 'Register Account' %}</h2>
                        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
                            .{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-12 form-area">
                    <form method="POST" id="signup_form" class=" signup" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        {% crispy form %}
                    </form>

                </div>

            </div>

        </div>
    </div>
        </div>
{% endblock %}
