{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block page_css %}
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="{% static 'plugins/fullcalendar/fullcalendar.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'plugins/fullcalendar/custom-fullcalendar.advance.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'plugins/flatpickr/flatpickr.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/flatpickr/custom-flatpickr.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/forms/theme-checkbox-radio.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLE -->
    <style>
        .widget-content-area {
            border-radius: 6px;
            margin-bottom: 10px;
        }

        .daterangepicker.dropdown-menu {
            z-index: 1059;
        }
    </style>
{% endblock %}


<!-- Important for page rendering -->
{% block page_class %}sidebar-noneoverflow{% endblock %}
{% block page_title %}{% trans 'Calendar' %}{% endblock %}
{% block page_title_heading %}{% trans 'Calendar' %}{% endblock %}
<!-- ends here important tile and class -->


<!-- Start Adding Content From Here -->
{% block content %}
    <div class="row layout-top-spacing" id="cancel-row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <div class="calendar-upper-section">

                        <div class="row">
                            <div class="col-md-8 col-12">

                            </div>
                            <div class="col-md-4 col-12">

                                <a id="myBtn" class="btn btn-primary float-right" href="{% url 'booking:add' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-calendar mr-2">
                                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                        <line x1="16" y1="2" x2="16" y2="6"></line>
                                        <line x1="8" y1="2" x2="8" y2="6"></line>
                                        <line x1="3" y1="10" x2="21" y2="10"></line>
                                    </svg>
                                    Add Booking
                                </a>

                            </div>
                        </div>
                    </div>
                    <div id="calendar" style="height: 800px"></div>
                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div id="addEventsModal" class="modal animated fadeIn">

            <div class="modal-dialog modal-dialog-centered">

                <!-- Modal content -->
                <div class="modal-content">

                    <div class="modal-body">

                        <span class="close">&times;</span>

                        <div class="add-edit-event-box">
                            <div class="add-edit-event-content">
                                <h5 class="add-event-title modal-title">Add Booking</h5>
                                <h5 class="edit-event-title modal-title" id="booking_title">Booking #</h5>

                                <form class="">

                                    <div class="row">

                                        <div class="col-md-12">
                                            <label for="start-date" class="">Customer:</label>
                                            <div class="d-flex event-title">
                                                <input id="customer" type="text" placeholder="Enter Title"
                                                       class="form-control" name="task">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="start-date" class="">Client Staff Member:</label>
                                            <div class="d-flex event-title">
                                                <input id="staff" type="text" placeholder="Enter Title"
                                                       class="form-control" name="task">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="start-date" class="">Project Address:</label>
                                            <div class="d-flex event-title">
                                                <input id="address" type="text" placeholder="Enter Title"
                                                       class="form-control" name="task">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="maphere" style="height: 400px;"></div>
                                        </div>
                                        <br>

                                        <div class="col-md-6 col-sm-6 col-12">
                                            <div class="form-group start-date">
                                                <label for="start-date" class="">From:</label>
                                                <div class="d-flex">
                                                    <input id="start-date" placeholder="Start Date" class="form-control"
                                                           type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12">
                                            <div class="form-group end-date">
                                                <label for="end-date" class="">To:</label>
                                                <div class="d-flex">
                                                    <input id="end-date" placeholder="End Date" type="text"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button id="discard" class="btn" data-dismiss="modal">Discard</button>
                        <button id="add-e" class="btn">View Booking</button>
                        <a href="#" id="booking_url" class="btn">View Booking</a>

                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}
<!-- Main Content -->



{% block page_js %}

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'plugins/fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'plugins/flatpickr/flatpickr.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="https://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>
    <script>
        window['moment-range'].extendMoment(moment);
        moment.tz.setDefault("Australia/Sydney");
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script type="text/javascript">

        var django_events = [
            {% for booking in events %}
                {
                    id: {{ booking.id }},
                    title: "{{ booking.address.full_addreess }}",
                    start: "{{ booking.start_time.isoformat  }}",
                    end: "{{ booking.end_time.isoformat  }}",
                    className: "bg-danger",
                    description: 'Customer : {{ booking.customer.company_name }}. Staff : {{ booking.staff.name }}'
                },
            {% endfor %}
            {% for event in events_g %}
                {
                    id: '{{ event.id }}',
                    title: "{{ event.creator.email }}",
                    start: "{{ event.start.dateTime  }}",
                    end: "{{ event.end.dateTime  }}",
                    className: "bg-danger",
                    description: "{{ event.summary }}"
                },
            {% endfor %}


        ];
    </script>
    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <script src="{% static 'plugins/fullcalendar/custom-fullcalendar.advance.js' %}"></script>
    <!--  END CUSTOM SCRIPTS FILE  -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADoLaI3Jlc2wVT-ISO-owBJvl3CSEjkCU&libraries=places"
            async defer></script>

{% endblock %}