{% load static %}
<style>
    #folder-icon, #file-icon {
        height: 55px;
        width: 55px;
    }

    #caret-down {
        height: 15px;
    }


    #folders-section .dropdown-menu {
        min-width: 5rem !important;
    }

    .component-card_1 {

        width: auto !important;

    }

    .component-card_1 .card-body {
        padding: 39px 25px !important;
    }

    .card-img, .card-img-top {
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        height: 110px;
    }

    .component-card_2 {
        border: 1px solid #e0e6ed;
        border-radius: 6px;
        width: 100% !important;
        margin: 0 auto;
        box-shadow: 4px 6px 10px -3px #bfc9d4;
    }

</style>
<link href="{% static 'assets/css/elements/breadcrumb.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/sweetalerts/sweetalert.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/notification/snackbar/snackbar.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/file-upload/file-upload-with-preview.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/lightbox/photoswipe.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/lightbox/default-skin/default-skin.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/lightbox/custom-photswipe.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{% static 'plugins/animate/animate.css' %}">
<link href="{% static 'assets/css/components/cards/card.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css' %}">