{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block page_css %}

{% endblock %}


<!-- Important for page rendering -->
{% block page_class %}sidebar-noneoverflow{% endblock %}
{% block page_title %}{% trans 'Add Service' %}{% endblock %}
{% block page_title_heading %}{% trans 'Add Services' %}{% endblock %}
<!-- ends here important tile and class -->


<!-- Start Adding Content From Here -->
{% block content %}
    <div class="layout-px-spacing col-12">
        <div class="row layout-top-spacing" id="cancel-row">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <form method="POST" action="{% url 'services:update' object.id %}">
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/>
                        {% endif %}
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="{% trans 'Save' %}">
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
<!-- Main Content -->



{% block page_js %}


{% endblock %}